p Place text like this

p
	| Or like this

p | But the pipe symbol has no effect if not on its own line

p
	| You can break up your text onto
	| multiple lines with the pipe symbol
	| to help make it more readable.

p
	| You can also use this approach to break your text and 
	br
	| insert extra tags, which can be extra useful for things like
	strong adding strong tags
	| into your text
