//- Basic tag examples

div
h1
p
a
span
blockquote
header
nav
main
aside
footer

//- Jade automatically detects known self closing tags (void elements)

img
br
hr
meta
embed

//- Nesting basic example

ul
	li
	li
	li

//- Multi level nesting
table
	tr
		td

div
	p
		span

//- Inline nesting syntax
div: p: span