// Easier Nesting

// Main elements
header
nav
main
aside
footer

// Add header content, nav menu, article, sidebar content, footer content
header
	h1
nav
	ul
		li: a
		li: a
		li: a
main
	article
		header
		div
		footer
aside
	p
footer
	p

// Fill out article content
header
	h1
nav
	ul
		li
		li
		li
main
	article
		header
			h1
		div
			p
				span
			blockquote
			h2
			table
				tr
					td
					td
			p
		footer
			address
			time
aside
	p
footer
	p