extends docwrapper

//- Override any config settings by appending to the config block
append config
	- var PageTitle = 'Overriding Config Vars'
	- var MetaDesc = 'Learn how to override config vars page by page'
	- var jQuery = true

block content
	//- Variable used in text via interpolation
	h1 #{PageTitle}

	p If you’re not using Jade, you’re missing out on some of the fastest HTML you’ll ever produce as well as boilerplate templating methods that will slash your development time in half.

	h2(style='font-family:"Wellfleet";') Google Font Loaded From Config Settings

	ul
		li: a Link One
		li: a Link Two
		li: a Link Three
		li: a Link Four
		li: a Link Five

	p In “Top Speed HTML Dev with Jade” you’ll learn how to generate full HTML from quick and easy shorthand. You’ll then build on that foundation to create infinitely reusable templates so you never write the same code twice again. Let’s begin!